* {
    font-family: sans-serif;
    box-sizing: border-box;  
}

.nav-bar {
    background-color: var(--nav-bg);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-bar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
}

.nav-bar ul li {
    list-style-type: none;
}

.nav-bar .link{
    text-decoration: none;
    color: var(--text-100);
    font-size: 30px;
    font-weight: bold;
}

.nav-bar ul li a:hover {
    color: #ff6366;
}